.inner section {
  width: 100%;
  text-align: left;
}

.gray-out {
  color: rgb(219, 176, 176);
  font-style: italic;
}

.sub-title {
  font-size: 1.2em;
}

.sub-italic {
  font-style: italic;
  margin-bottom: 50px;
}

.sub-bold {
  font-weight: bold;
}

.sub-bottom {
  margin-bottom: 50px;
}
