.works-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.works-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: aliceblue;
  margin-bottom: 50px;
}

.works-item img {
  width: 400px;
  height: 320px;
  object-fit: cover;
}

.works-item p {
  text-align: justify;
  width: 400px;
  word-wrap: break-word;
}

.sub-italic {
  font-style: italic;
}
